* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.calendar-box {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    width: 100%;
    min-height: 100%;
    z-index: 99999;
    background: #ffffff;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.movein {
    -webkit-animation: movein .2s ease-in;
    -moz-animation: movein .2s ease-in;
    -o-animation: movein .2s ease-in;
    -ms-animation: movein .2s ease-in;
    animation: movein .2s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.moveout {
    -webkit-animation: moveout .2s ease-out;
    -moz-animation: moveout .2s ease-out;
    -o-animation: moveout .2s ease-out;
    -ms-animation: moveout .2s ease-out;
    animation: moveout .2s ease-out;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

@keyframes movein {
    from {
        transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes movein /* Firefox */
{
    from {
        -moz-transform: translate3d(100%, 0, 0);
    }
    to {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes movein /* Safari ºÍ Chrome */
{
    from {
        -webkit-transform: translate3d(100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes movein /* Opera */
{
    from {
        -o-transform: translate3d(100%, 0, 0);
    }
    to {
        -o-transform: translate3d(0, 0, 0);
    }
}

@keyframes moveout {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(100%, 0, 0);
    }
}

@-moz-keyframes moveout /* Firefox */
{
    from {
        -moz-transform: translate3d(0, 0, 0);
    }
    to {
        -moz-transform: translate3d(100%, 0, 0);
    }
}

@-webkit-keyframes moveout /* Safari ºÍ Chrome */
{
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
    }
}

@-o-keyframes moveout /* Opera */
{
    from {
        -o-transform: translate3d(0, 0, 0);
    }
    to {
        -o-transform: translate3d(100%, 0, 0);
    }
}

.calendar-name {
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    background: #f7f7f7;
    position: relative;
    border-bottom: 1px solid #eee;
}

.calendar {
    text-align: center;
    padding: 0 10px 20px;
}

.calendar .calendar-title {
    font-weight: normal;
    font-family: helvetica, arial, sans-serif;
    height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 16px;
    padding: 5px 0;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;

}

.calendar .calendar-content {

}

.calendar .suntosat {
    height: 40px;
    line-height: 40px;
    background-image: -webkit-linear-gradient(bottom, transparent 50%, #dcdcdc 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #dcdcdc 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.calendar .suntosat .sun-sat {
    color: #50b400;
    width: 14.2857143%;
}

.calendar .suntosat th {
    font-weight: normal;
    color: #999;
}

.calendar td {
    font-size: 14px;
    padding: 8px 2px;
}

.calendar td.active .calendar-content {
    background: #50b400;
    color: #fff;
    border-radius: 5px;
}

.calendar td.active .calendar-extend-data {
    font-family: Arial;
    color: #fff;
}

.calendar .calendar-day {
    font-family: Arial;
}

.calendar .calendar-extend-data {
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    color: #50b400;
    margin-top: 5px;
}

.calendar .hide-day {
    display: none;
}










