<div class="calendar-wrapper" data-year="2015" data-month="7"><h3>2015年7月</h3>
    <table>
        <tbody>
        <tr>
            <th class="sunday">日</th>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th class="saturday">六</th>
        </tr>
        <tr>
            <td class="disabled">12</td>
            <td class="disabled">23</td>
            <td class="disabled">34</td>
            <td class="from-day" data-day="1">
                <div>
                    <div><span>1</span>

                        <p>¥875</p></div>
                </div>
            </td>
            <td data-day="2">
                <div>
                    <div><span>2</span>

                        <p>¥627</p></div>
                </div>
            </td>
            <td data-day="3">
                <div>
                    <div><span>3</span>

                        <p>¥590</p></div>
                </div>
            </td>
            <td class="saturday" data-day="4">
                <div>
                    <div><span>4</span>

                        <p>¥540</p></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="sunday" data-day="5">
                <div>
                    <div><span>5</span>

                        <p>¥490</p></div>
                </div>
            </td>
            <td data-day="6">
                <div>
                    <div><span>6</span>

                        <p>¥419</p></div>
                </div>
            </td>
            <td data-day="7">
                <div>
                    <div><span>7</span>

                        <p>¥459</p></div>
                </div>
            </td>
            <td data-day="8">
                <div>
                    <div><span>8</span>

                        <p>¥360</p></div>
                </div>
            </td>
            <td data-day="9">
                <div>
                    <div><span>9</span>

                        <p>¥400</p></div>
                </div>s
            </td>
            <td class="disabled" data-day="10">
                <div>10</div>
            </td>
            <td class="saturday" data-day="11">
                <div>
                    <div><span>11</span>

                        <p>¥544</p></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="sunday" data-day="12">
                <div>
                    <div><span>12</span>

                        <p>¥400</p></div>
                </div>
            </td>
            <td data-day="13">
                <div>
                    <div><span>13</span>

                        <p>¥360</p></div>
                </div>
            </td>
            <td data-day="14">
                <div>
                    <div><span>14</span>

                        <p>¥365</p></div>
                </div>
            </td>
            <td data-day="15">
                <div>
                    <div><span>15</span>

                        <p>¥360</p></div>
                </div>
            </td>
            <td data-day="16">
                <div>
                    <div><span>16</span>

                        <p>¥365</p></div>
                </div>
            </td>
            <td data-day="17">
                <div>
                    <div><span>17</span>

                        <p>¥450</p></div>
                </div>
            </td>
            <td class="saturday" data-day="18">
                <div>
                    <div><span>18</span>

                        <p>¥490</p></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="sunday" data-day="19">
                <div>
                    <div><span>19</span>

                        <p>¥347</p></div>
                </div>
            </td>
            <td class="today" data-day="20">
                <div>
                    <div><span>今天</span>

                        <p>¥360</p></div>
                </div>
            </td>
            <td data-day="21">
                <div>
                    <div><span>21</span>

                        <p>¥279</p></div>
                </div>
            </td>
            <td data-day="22">
                <div>
                    <div><span>22</span>

                        <p>¥328</p></div>
                </div>
            </td>
            <td data-day="23">
                <div>
                    <div><span>23</span>

                        <p>¥365</p></div>
                </div>
            </td>
            <td data-day="24">
                <div>
                    <div><span>24</span>

                        <p>¥459</p></div>
                </div>
            </td>
            <td class="saturday" data-day="25">
                <div>
                    <div><span>25</span>

                        <p>¥459</p></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="sunday" data-day="26">
                <div>
                    <div><span>26</span>

                        <p>¥365</p></div>
                </div>
            </td>
            <td data-day="27">
                <div>
                    <div><span>27</span>

                        <p>¥360</p></div>
                </div>
            </td>
            <td data-day="28">
                <div>
                    <div><span>28</span>

                        <p>¥298</p></div>
                </div>
            </td>
            <td data-day="29">
                <div>
                    <div><span>29</span>

                        <p>¥308</p></div>
                </div>
            </td>
            <td data-day="30">
                <div>
                    <div><span>30</span>

                        <p>¥360</p></div>
                </div>
            </td>
            <td data-day="31">
                <div>
                    <div><span>31</span>

                        <p>¥424</p></div>
                </div>
            </td>
            <td class="disabled"></td>
        </tr>









        <section class="topic-wrap border_t" ng-if="info.ztList && info.ztList.length > 0">
            <div class="slider pages pic-wrap" ng-show="info.ztList.length > 0">
                <ul ng-repeat="each in [1,2,3,4,5].slice(0,info.ztList.length/2)"  class="page slider-item border_b">
                    <li ng-repeat="zt in info.ztList.slice($index*2,$index*2+2)" style="height:{{screen_x/54*11}}px" class="{{!$index?'border_r':''}}">
                    </li>
                </ul>
            </div>
        </section>








        </tbody>
    </table>
</div>